:root { 
    --bs-primary: rgb(206, 211, 209);
    --bs-secondary: rgb(0, 0, 0);
    --bs-success: #20c997;       
    --bs-info: #0dcaf0;          
    --bs-warning: #ffc107;       
    --bs-danger: #dc3545;        
    --bs-light: #f8f9fa;    
    --bs-dark: #212529;
    --bs-body-bg: rgb(206, 211, 209);
    --bs-body-color: rgb(238, 239, 239);
    --bs-navbar-color: black;
    --bs-font-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 300;
    --bs-body-line-height: 1.5;
    --bs-primary-bg-subtle: rgb(168, 168, 168);
    --bs-primary-text-emphasis: rgb(5, 5, 5);
    
}
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&display=swap");
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Home Page */
.carousel-fade, .carousel-item {
    transition: opacity 3s ease-in-out !important;
}
/* Form styles */
.form-control {
    background-color: black;
}
.form-control::placeholder {
    color: lightgray;
}
.form-control:focus-visible {
    background-color: var(--bs-secondary);
    outline: 2px solid white;
    outline-offset: 2px;
}
/* Gallery page */
.img-thumbnail {
    width: 100%; 
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    margin-bottom: 4px;
}
.toast {
    --bs-toast-color: black;
}
.btn-primary {
    --bs-btn-bg: black;
    --bs-btn-border-color: grey;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: grey;
    --bs-btn-hover-border-color: black;
}

/* About page */
.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(98, 97, 97);
}
.accordion-item, .accordion-header, .accordion-body, .accordion-button {
    color: black;
    border-color: black;
}
